body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
    font-size: 24px;
}

.pageTech{
    position: relative;
    flex: 1;
    min-height: 500px;

}

.upperPolygon{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #191716; /*#191716*/
    clip-path: polygon(0 0, 116% 0, 0 100%);
}

.belowPolygon{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #191716; /*#191716*/
    clip-path: polygon(0 84%, 100% 100%, 120% 0); /* Inversión del triángulo rectángulo */
}

.belowPolygonDecoration{
    bottom: 0;
    left: 0;
    background-color: #191716;
    position: absolute;
    height: 24px;
    width: 100%;
}

.bodyText5{
    font-family: 'Lexend', sans-serif;
    position: absolute;
    font-size: 5rem;
    top:90px;
    color: #50C878;

}

.gridContainer{
    min-height: 700px;
    margin-top: 70px;
    padding: 150px;

}

@media(max-width: 1000px){
    .gridContainer{
        min-height: 700px;
        margin-top: 70px;
        margin-left: 15px;
        padding: 150px;
    }

}

.chip{
    height: 90px;
    min-width: 90px;
}

.skillChipWrapper {
    margin: 10px;
}

.scaleAnim{
    transition: transform 0.05s ease;
}

.scaleAnim:hover{
    transform: scale(1.45); /* Hace el chip un poco más grande al pasar el mouse por encima */
}

.aaa{
    background-color: red;
}